importing the necessary packages

In [28]:
import pandas as pd

-reading the data from excel

In [29]:
##when working in the same directory
student_data = pd.read_excel("Student_performance(missing).xlsx")

student_data.head()

  access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
0    M24383      F  23.0   BSIT     99.0     86.0     50.0     99.0
1    M24366      M  22.0   BSDS     76.0     50.0     88.0     64.0
2    B24341      M  22.0   BSIT     91.0     89.0     89.0     54.0
3    B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
4    B24219      F  22.0   BSIT     66.0      NaN     84.0     86.0

In [30]:
student_data.describe()

             age    DSC3108     DSC3114     MTH3108    SYE3104
count  38.000000  36.000000   38.000000   38.000000  37.000000
mean   22.500000  71.777778   70.236842   72.578947  71.810811
std     1.268112  15.853095   17.069705   15.161530  16.842139
min    21.000000  50.000000   50.000000   50.000000  50.000000
25%    22.000000  57.750000   50.750000   60.250000  55.000000
50%    22.000000  73.000000   67.500000   72.000000  73.000000
75%    23.000000  85.000000   86.750000   86.500000  85.000000
max    25.000000  99.000000  100.000000  100.000000  99.000000

In [31]:
student_data.describe(include="all")

,access_no,gender,age,course,DSC3108,DSC3114,MTH3108,SYE3104
count,40,40,38.000000,40,36.000000,38.000000,38.000000,37.000000
unique,37,2,NaN,3,NaN,NaN,NaN,NaN
top,M24366,F,NaN,BSIT,NaN,NaN,NaN,NaN
freq,2,20,NaN,15,NaN,NaN,NaN,NaN
mean,NaN,NaN,22.500000,NaN,71.777778,70.236842,72.578947,71.810811
std,NaN,NaN,1.268112,NaN,15.853095,17.069705,15.161530,16.842139
min,NaN,NaN,21.000000,NaN,50.000000,50.000000,50.000000,50.000000
25%,NaN,NaN,22.000000,NaN,57.750000,50.750000,60.250000,55.000000
50%,NaN,NaN,22.000000,NaN,73.000000,67.500000,72.000000,73.000000
75%,NaN,NaN,23.000000,NaN,85.000000,86.750000,86.500000,85.000000
max,NaN,NaN,25.000000,NaN,99.000000,100.000000,100.000000,99.000000

In [32]:
student_data.tail()

   access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
35    B24250      F  21.0   BSCS     65.0     66.0     71.0     84.0
36    M24127      F  23.0   BSIT     60.0     90.0     88.0     67.0
37    B24399      F  23.0   BSIT     96.0      NaN     52.0     50.0
38    M24004      F  22.0   BSCS     74.0     50.0     55.0     60.0
39    B24264      M  25.0   BSDS     65.0     93.0     81.0     91.0

In [33]:
student_data.loc[3:7]

  access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
3    B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
4    B24219      F  22.0   BSIT     66.0      NaN     84.0     86.0
5    M24121      F  22.0   BSDS     85.0     87.0     77.0     68.0
6    M24099      M  23.0   BSIT     73.0     76.0     78.0     85.0
7    M24296      M  22.0   BSIT     73.0     50.0     67.0     89.0

In [34]:
student_data.iloc[3:7]

  access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
3    B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
4    B24219      F  22.0   BSIT     66.0      NaN     84.0     86.0
5    M24121      F  22.0   BSDS     85.0     87.0     77.0     68.0
6    M24099      M  23.0   BSIT     73.0     76.0     78.0     85.0

In [35]:
student_data.dtypes

access_no     object
gender        object
age          float64
course        object
DSC3108      float64
DSC3114      float64
MTH3108      float64
SYE3104      float64
dtype: object

In [36]:
student_data.shape

(40, 8)

In [37]:
##checking for missing values
missing_values = student_data.isnull().any() ##boolean for columns with missing value and those without
missing_values

access_no    False
gender       False
age           True
course       False
DSC3108       True
DSC3114       True
MTH3108       True
SYE3104       True
dtype: bool

In [38]:
missing_values = student_data.isnull().sum() ##for columns with missing value and those without
missing_values

access_no    0
gender       0
age          2
course       0
DSC3108      4
DSC3114      2
MTH3108      2
SYE3104      3
dtype: int64

##Handling Missing Values
-drop missing values
-interpolate
-filling
-imputation

In [39]:
student_data

   access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
0     M24383      F  23.0   BSIT     99.0     86.0     50.0     99.0
1     M24366      M  22.0   BSDS     76.0     50.0     88.0     64.0
2     B24341      M  22.0   BSIT     91.0     89.0     89.0     54.0
3     B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
4     B24219      F  22.0   BSIT     66.0      NaN     84.0     86.0
5     M24121      F  22.0   BSDS     85.0     87.0     77.0     68.0
6     M24099      M  23.0   BSIT     73.0     76.0     78.0     85.0
7     M24296      M  22.0   BSIT     73.0     50.0     67.0     89.0
8     B24088      M  21.0   BSCS     73.0     50.0     85.0     50.0
9     B24183      F  23.0   BSIT     73.0     50.0     88.0     55.0
10    B24395      F   NaN   BSIT     85.0     93.0     50.0     98.0
11    B24209      M  22.0   BSDS     79.0     96.0     61.0     67.0
12    M24107      M  24.0   BSIT     57.0     67.0     72.0     50.0
13    B24138      F  23.0   BSIT     51.0     65.0     87.0     92.0
14    M24330      M  22.0   BSIT     87.0     61.0     96.0     99.0
15    B24080      M  21.0   BSDS     51.0     68.0      NaN     50.0
16    M24124      M  22.0   BSDS     52.0     53.0     82.0     76.0
17    M24066      M  22.0   BSCS      NaN     50.0     90.0     70.0
18    M24071      F  24.0   BSDS     78.0    100.0     72.0     81.0
19    B24150      F  21.0   BSIT     50.0     91.0     89.0     75.0
20    M24078      F  21.0   BSCS      NaN     94.0     80.0     55.0
21    M24243      M  23.0   BSDS     99.0     61.0     61.0      NaN
22    B24062      F  21.0   BSDS     83.0     69.0     50.0     79.0
23    B24225      F   NaN   BSCS     50.0     70.0     92.0      NaN
24    B24151      M  22.0   BSCS     88.0     98.0     60.0     50.0
25    M24139      M  23.0   BSIT     97.0     50.0     75.0     61.0
26    M24366      M  21.0   BSCS      NaN     59.0     72.0      NaN
27    M24243      F  21.0   BSIT     50.0     76.0    100.0     76.0
28    M24387      M  24.0   BSDS     65.0     50.0     68.0     97.0
29    M24227      M  25.0   BSCS     79.0     65.0     69.0     81.0
30    B24365      F  21.0   BSCS     53.0     61.0      NaN     74.0
31    M24318      F  25.0   BSCS      NaN     74.0     50.0     50.0
32    M24019      M  22.0   BSCS     58.0     50.0     72.0     50.0
33    B24037      M  22.0   BSDS     50.0     80.0     52.0     97.0
34    B24385      F  25.0   BSDS     64.0     50.0     55.0     73.0
35    B24250      F  21.0   BSCS     65.0     66.0     71.0     84.0
36    M24127      F  23.0   BSIT     60.0     90.0     88.0     67.0
37    B24399      F  23.0   BSIT     96.0      NaN     52.0     50.0
38    M24004      F  22.0   BSCS     74.0     50.0     55.0     60.0
39    B24264      M  25.0   BSDS     65.0     93.0     81.0     91.0

In [40]:
#dropping missing values
student_data.dropna()

   access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
0     M24383      F  23.0   BSIT     99.0     86.0     50.0     99.0
1     M24366      M  22.0   BSDS     76.0     50.0     88.0     64.0
2     B24341      M  22.0   BSIT     91.0     89.0     89.0     54.0
3     B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
5     M24121      F  22.0   BSDS     85.0     87.0     77.0     68.0
6     M24099      M  23.0   BSIT     73.0     76.0     78.0     85.0
7     M24296      M  22.0   BSIT     73.0     50.0     67.0     89.0
8     B24088      M  21.0   BSCS     73.0     50.0     85.0     50.0
9     B24183      F  23.0   BSIT     73.0     50.0     88.0     55.0
11    B24209      M  22.0   BSDS     79.0     96.0     61.0     67.0
12    M24107      M  24.0   BSIT     57.0     67.0     72.0     50.0
13    B24138      F  23.0   BSIT     51.0     65.0     87.0     92.0
14    M24330      M  22.0   BSIT     87.0     61.0     96.0     99.0
16    M24124      M  22.0   BSDS     52.0     53.0     82.0     76.0
18    M24071      F  24.0   BSDS     78.0    100.0     72.0     81.0
19    B24150      F  21.0   BSIT     50.0     91.0     89.0     75.0
22    B24062      F  21.0   BSDS     83.0     69.0     50.0     79.0
24    B24151      M  22.0   BSCS     88.0     98.0     60.0     50.0
25    M24139      M  23.0   BSIT     97.0     50.0     75.0     61.0
27    M24243      F  21.0   BSIT     50.0     76.0    100.0     76.0
28    M24387      M  24.0   BSDS     65.0     50.0     68.0     97.0
29    M24227      M  25.0   BSCS     79.0     65.0     69.0     81.0
32    M24019      M  22.0   BSCS     58.0     50.0     72.0     50.0
33    B24037      M  22.0   BSDS     50.0     80.0     52.0     97.0
34    B24385      F  25.0   BSDS     64.0     50.0     55.0     73.0
35    B24250      F  21.0   BSCS     65.0     66.0     71.0     84.0
36    M24127      F  23.0   BSIT     60.0     90.0     88.0     67.0
38    M24004      F  22.0   BSCS     74.0     50.0     55.0     60.0
39    B24264      M  25.0   BSDS     65.0     93.0     81.0     91.0

In [41]:
student_data.dropna(axis = 0, inplace = True) ##deleting rows with missing values
student_data

   access_no gender   age course  DSC3108  DSC3114  MTH3108  SYE3104
0     M24383      F  23.0   BSIT     99.0     86.0     50.0     99.0
1     M24366      M  22.0   BSDS     76.0     50.0     88.0     64.0
2     B24341      M  22.0   BSIT     91.0     89.0     89.0     54.0
3     B24264      F  24.0   BSDS     89.0     81.0     50.0     54.0
5     M24121      F  22.0   BSDS     85.0     87.0     77.0     68.0
6     M24099      M  23.0   BSIT     73.0     76.0     78.0     85.0
7     M24296      M  22.0   BSIT     73.0     50.0     67.0     89.0
8     B24088      M  21.0   BSCS     73.0     50.0     85.0     50.0
9     B24183      F  23.0   BSIT     73.0     50.0     88.0     55.0
11    B24209      M  22.0   BSDS     79.0     96.0     61.0     67.0
12    M24107      M  24.0   BSIT     57.0     67.0     72.0     50.0
13    B24138      F  23.0   BSIT     51.0     65.0     87.0     92.0
14    M24330      M  22.0   BSIT     87.0     61.0     96.0     99.0
16    M24124      M  22.0   BSDS     52.0     53.0     82.0     76.0
18    M24071      F  24.0   BSDS     78.0    100.0     72.0     81.0
19    B24150      F  21.0   BSIT     50.0     91.0     89.0     75.0
22    B24062      F  21.0   BSDS     83.0     69.0     50.0     79.0
24    B24151      M  22.0   BSCS     88.0     98.0     60.0     50.0
25    M24139      M  23.0   BSIT     97.0     50.0     75.0     61.0
27    M24243      F  21.0   BSIT     50.0     76.0    100.0     76.0
28    M24387      M  24.0   BSDS     65.0     50.0     68.0     97.0
29    M24227      M  25.0   BSCS     79.0     65.0     69.0     81.0
32    M24019      M  22.0   BSCS     58.0     50.0     72.0     50.0
33    B24037      M  22.0   BSDS     50.0     80.0     52.0     97.0
34    B24385      F  25.0   BSDS     64.0     50.0     55.0     73.0
35    B24250      F  21.0   BSCS     65.0     66.0     71.0     84.0
36    M24127      F  23.0   BSIT     60.0     90.0     88.0     67.0
38    M24004      F  22.0   BSCS     74.0     50.0     55.0     60.0
39    B24264      M  25.0   BSDS     65.0     93.0     81.0     91.0

Assignment; Implement the remaining 3 methods of handling missing values

__Interpolation__  

 -Linear Interpolation  
 -Polynomial Interpolation  
 -Spline Interpolation  
 -Forward Fill Interpolation  
 -Backward Fill Interpolation  

Based on the nature of the dataset, spline interpolation might not be of much help.

In [44]:
#Using Linear Interpolation
student_data = student_data.interpolate(method = 'linear')
student_data

C:\Users\Family\AppData\Local\Temp\ipykernel_7696\1490335993.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  student_data = student_data.interpolate(method = 'linear')

In [ ]:
#Using Polynomial Interpolation
student_data = student_data.interpolate(method='polynomial', order = 2)
student_data

In [ ]:
#Using Spline Interpolation
student_data = student_data.interpolate(method='spline', order = 3)
student_data

__Filling__  
- we have the forward fill and backward fill which basically inputs the next or previous value respectively.

In [ ]:
#Using forward fill
student_data = student_data.fillna(method='ffill')
student_data

In [ ]:
#Using backward fill
student_data = student_data.fillna(method='bfill')
student_data

__Imputation__  
- This is where we use methods such as mean, median and mode to improvise for the missing values
- There is also the KNN imputation which is mainly used for numeric columns and in complex data.
- And there is iterative learning which is mainly Machine Learning-based

In [ ]:
#Using mean
student_data.fillna(student_data.mean(), inplace = True)
student_data

In [ ]:
#Using median
student_data.fillna(student_data.median(), inplace = True)
student_data

In [ ]:
#Using mode
student_data.fillna(student_data.mode(), inplace = True)
student_data